nav{
    text-align: center;
}
nav a{
    width: 15%;
    background-color: hsla(0, 0%, 0%, 0.70);
    color: white;
    padding: 0%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
a:hover{
    background-color: rgba(247, 247, 247, 0.90);
    color: black;
}
h2{
    color: #FFFFFF;
    font-family: sans-serif ;
}


body{
    background-image: url("https://wallpaperscraft.com/image/desert_sand_clouds_peryevy_55392_1920x1080.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
p{
    color: white;
    font-family: sans-serif ;
}
ol{
    
    font-family: sans-serif ;
}
ul{
    font-family: sans-serif ;
}
div{
    border: 0px solid white;
    padding: 1% 1%;
    margin: 1% 1%;
    background-color: rgba(0, 0, 0, 0.666);
    border-radius: 10px;
}
.small{
    width:46%;
    float: right;
    padding-bottom: 1.55%;
}
.large{
    width: 46% ;
    float: left;

}
.info{
    width: 46% ;
    float: left;
    clear: left;

}
.button{
    float: left;
    width: 10%;
    text-align: center;
}
.main{
    float: left;
}
.amazon{
    width: 96%;
    float: left;
}
.amazon1{
    float: left;
    margin-left: 11%;
}
.sponsor{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
.text{
    width: 46%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.motivatie{
    width:46%;
    float: left;
}
.meme{
    float: left;
    padding: 0.5%;
    margin-right: 1%;
}
.techniektext{
    padding: top;
}
.user{
    float:left;
    clear:right;
}
.searchbar{
    float: right;
    padding-left: 100px;
 }
 .selfie{
    clear: right;
     float: right;
 }
 .pubg{
     float: right;
 }
.request{
    float: right;
}
.response{
    float: left;
    padding: 1% 0.5% 0.5% 0.5%;
}
.response1{
    float: right;
    padding: 0.5% 0.5% 0.5% 1%;
}
.top{
    text-align: center;
}
.peter{
    float: right;
}
.inleiding_game{
    width: 46%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.uitleg_game{
    width: 46%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div a{
    color: white;
}

.game{
    float: left;
    width: 46%;
    opacity: 0;
}
